* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-family: "Arial", sans-serif;
}

header {
  text-align: center;
  padding: 20px 0;
}

.titulo {
  color: #333;
}

.motivacional {
  text-align: center;
  padding: 20px;
}

.titulo-motivacional {
  color: #e74c3c;
  font-size: 24px;
  margin-bottom: 10px;
}

.msg-motivacional {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.receita {
  background-color: #fff;
  color: #333;
  width: 30%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receita h2 {
  margin-bottom: 10px;
}

.receita ul,
.receita ol {
  margin-bottom: 10px;
}

.tabela {
  background-color: #fff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td,
tr {
  border: 2px solid #333;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #e74c3c;
  color: #fff;
}
