@import url(font.css);
* {
  margin: 0;
  padding: 0;
  font-family: sfrancisco;
}

.box {
  background-color: blue;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
