@import url(font.css);
body {
  color: #9b0aff;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sfrancisco, sans-serif;
  zoom: 1.2;
}

.form-container {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #9b0aff, inset 0 0 10px #9b0aff;
  background-color: #000000;
}

.form-title {
  text-align: center;
  color: #9b0aff;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  color: #9b0aff;
  margin-bottom: 5px;
}

.form-input {
  width: 94%;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background-color: #111111;
  color: #9b0aff;
  outline: none;
}

.form-input:focus {
  box-shadow: 0 0 5px #9b0aff;
}

.form-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #9b0aff;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.form-button:hover {
  background-color: #a54edf;
}
