* {
  color: white;
  border-radius: 5px;
  padding: 3px;
}
body {
  background-color: blueviolet;
}
.content {
  background-color: rgba(174, 130, 214, 0.5);
  margin: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
p {
  color: violet;
  font-size: 80px;
}

body {
  padding-bottom: 500px;
}

.paragrah {
  background-color: black;
  color: aqua;
  padding: 5px;
}

#exclusive-title {
  background-color: purple;
  color: aliceblue;
  padding: 10px;
  font-size: 40px;
}

h2 {
  border-bottom: 2px dotted red;
}

.titulo {
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}

.color-name {
  color: crimson;
}

.hex {
  background-color: green;
  color: white;
}
.hex-2 {
  background-color: #55a398;
  color: white;
}

.simple-hex {
  /* color: #333333; */
  color: #333;
}
.simple-hex-2 {
  /* color: #aa55ff; */
  color: #a5f;
  background-color: white;
}

.rgb {
  color: rgb(255, 0, 0);
  background-color: #fff;
}
.mixed-rgb {
  color: rgb(199, 21, 47);
  background-color: #fff;
}
.rgba {
  color: rgba(255, 0, 0, 0.5);
  background-color: #fff;
}
.bg-image {
  text-align: center;
  padding: 20px;
  background-image: url(../imgs/nature.jpg);
}
.bg-image2 {
  color: #333;
  text-align: center;
  padding: 20px;
  background-image: url(../imgs/bridge.jpg);
}
.bg-image3 {
  text-align: center;
  padding: 20px;
  background-image: url(../imgs/city.jpg);
}
.bg-opacity {
  background-color: green;
  opacity: 0.5;
}
.bg-opacity2 {
  background-color: #999;
  color: #000;
  opacity: 0.8;
}
.rgba-opacity3 {
  background-color: rgba(90, 12, 20, 0.2);
  opacity: 0.2;
}

.centered-bg,
.not-centered-bg {
  background-image: url(../imgs/bridge.jpg);
  height: 400px;
  width: 400px;
}
.centered-bg {
  border: 4px dotted purple;
  background-position: center;
  background-size: cover;
}
