body {
  background-color: orangered;
}
h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(253, 120, 72);
  border-radius: 10px;
  text-align: center;
}
h1:hover {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(247, 94, 39);
  border-radius: 10px;
  text-align: center;
}
