:root {
  --cor-branca: white;
  /* --cor-fundo: rgb(110, 180, 30); */
  --cor-botao: rgb(92, 150, 26);
  --cor-letra-1: rgb(101, 89, 88);
  --cor-letra-titulo: rgb(101, 89, 88);
  --cor-letra-botao: rgb(52, 44, 43);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgb(100, 100, 18) 10%,
    rgb(54, 100, 40),
    rgb(42, 85, 18),
    rgb(19, 50, 18)
  );
}
h1 {
  color: var(--cor-letra-titulo);
}
.container {
  background-color: rgb(255, 255, 255, 0.8);
  height: 260px;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  transition: 0.2s;
  box-shadow: 10px 20px 20px 5px rgba(0, 0, 0, 0.7);
}
.container.active {
  height: 500px;
}
#qr-header {
  text-align: center;
}
#qr-header h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}
#qr-header p {
  color: var(--cor-letra-1);
  font-size: 0.9rem;
}
.container #qr-form {
  margin: 20px 15px;
}
#qr-form input,
#qr-form button {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 0.9rem;
}
#qr-form input {
  border: 1px solid #777;
  padding: 10px 15px;
}
#qr-form button {
  background-color: var(--cor-botao);
  margin-top: 20px;
  color: var(--cor-branca);
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.4s;
  color: var(--cor-letra-botao);
}
#qr-form button:hover {
  opacity: 1;
}

.container #qr-code {
  display: flex;
  opacity: 0;
  pointer-events: none;
  border: 1px solid #ccc;
  padding: 30px 0;
  margin: 20px 15px;
  align-items: center;
  justify-content: center;
}

.container.active #qr-code {
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s;
}
